/MinimalAPIsApp/DataAccess/bin/Debug/net6.0
/MinimalAPIsApp/DataAccess/obj
/MinimalAPIsApp/MinimalAPI/bin/Debug
/MinimalAPIsApp/MinimalAPI/obj
/MinimalAPIsApp/.vs
/MinimalAPIsApp/UserDb/bin/Debug
/MinimalAPIsApp/UserDb/obj/Debug
